#first {
    color : burlywood 
    
}
 #tit {
    color : burlywood

 }
 #first:hover {background-color : lightsalmon}
 #tit:hover {background-color : lightsalmon}
 ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: #c5bbbb54;
  }
  
  li {
    float: unset;
  }
  
  li a {
    display: inline-block;
    padding: 15px;
  }
 body {

background-color:wheat;

}


#str {

  column-count: 3;
}

#str {
  list-style-position: outside;
}
#story {


  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}








.butt {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color : burlywood;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
  
  .butt:hover {background-color : lightsalmon}
  
  .butt:active {
    background-color : darkslategrey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  #end {



  }