#life {
  font-family:  Verdana, Geneva, Tahoma, sans-serif ;
    color :black ;
  text-shadow: 2px 3px gray;

    text-align: center;
}


#p1{

  color: black;
  font-family:cursive ;
  opacity: initial;
  size: 30px;
  border-bottom-style: double; 
  text-align: center;
  text-decoration: cadetblue;
  font-size: 50px;
   



}
#plz{


  color: black;
  font-family:cursive ;
  opacity: initial;
  size: 30px;
  border-bottom-style: double; 
  text-align: center;
  text-decoration: cadetblue;
  font-size: 30px;
   


}

#th{

  color: black;
  font-family:cursive ;
  opacity: initial;
  size: 30px;
  border-bottom-style: double; 
  text-align: center;
  text-decoration: cadetblue;
  font-size: 70px;

}

.tog{
  font-size: 30px;
  text-align: center;
}



#myimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
border-radius: 50%;
width: 150px;
height: 150px;
}
#us1{
  font-size: 20px;
  font-family: fantasy;
}
#big{
text-align: center;
font-size: 150px;
text-align: center;
}
#abouti{

background-color: whitesmoke;

}
#stories{

color: white;

}


#n{

max-width: 50%;

}
#immg{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
  .row {
   padding: 50px; 
  }



#body {

  background-color: whitesmoke;
}
 ul {
   font-family:  cursive;
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: #c5bbbb54;
  }
  
  li { 
    text-align: center;
    color: black;
    font-family:  cursive;
    float: unset;
  }
  
  li a { 
    color: black;
    font-family: cursive;
    display: inline-block;
    padding: 15px;
  }
 body {

background-color:wheat;

}


#str {

  column-count: 3;
}

#str {
  list-style-position: outside;
}
#story {
  font-family:  cursive;


  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#type {
  


    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

#us{

  color: black;
}








.butt {

   text-emphasis-position: initial;
  font-variant-position:sub;
  font-family: cursive;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color : grey;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
  
  .butt:hover {background-color :grey}
  
  .butt:active {
    background-color : darkslategrey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
 #select {
   font-family: cursive;

  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color : grey;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;



 }
 #line { color: black;
font-family:cursive ;
opacity: initial;
size: 30px;
border-bottom-style: double; 
text-align: center;
text-decoration: cadetblue;
font-size: 75px;
 }
#name {
  font-family:  cursive;
}
#end{

  color: black;
}

#socilamedia{

  color: black;
}
#p {

  font-family: cursive;
}
#p{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: inherit;
font-style: italic;
color:black;
font-size: 30px;
text-align: center;

  
 

  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(100, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 


